<p>{{title}}</p>
<div class="table-container mat-elevation-z8">
  <table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

    <ng-container matColumnDef="name">
      <th mat-header-cell *matHeaderCellDef> Name </th>
      <td mat-cell *matCellDef="let element"> {{element.name}} </td>
    </ng-container>

    <ng-container matColumnDef="value">
      <th mat-header-cell *matHeaderCellDef> Value </th>
      <td mat-cell *matCellDef="let element"> {{element.value}} </td>
    </ng-container>

    <ng-container matColumnDef="angle">
      <th mat-header-cell *matHeaderCellDef> Angle </th>
      <td mat-cell *matCellDef="let element"> {{element.angle}}° </td>
    </ng-container>

    <ng-container matColumnDef="freq">
      <th mat-header-cell *matHeaderCellDef> Freq </th>
      <td mat-cell *matCellDef="let element"> {{element.freq}}Hz </td>
    </ng-container>

    <ng-container matColumnDef="value2">
      <th mat-header-cell *matHeaderCellDef> Value2 </th>
      <td mat-cell *matCellDef="let element"> {{element.value2}} </td>
    </ng-container>

    <ng-container matColumnDef="col">
      <th mat-header-cell *matHeaderCellDef> Col </th>
      <td mat-cell *matCellDef="let element"> {{element.col}} </td>
    </ng-container>

    <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
  </table>

</div>
<div class="vector-diagram">
  <app-vector-chart></app-vector-chart>
</div>
