<div class="grid">
  <mat-grid-list cols="12" rowHeight="8%">
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="6">
      <p>V, В</p>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="8"
      [rowspan]="6">
      <app-voltage-chart></app-voltage-chart>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="3"
      [rowspan]="12">
            <div class="btn-group">
              <button mat-stroked-button>ВЕКТОРНАЯ ДИАГРАММА</button>
              <button mat-stroked-button>ДЕЙСТВУЮЩИЕ ЗНАЧЕНИЯ</button>
              <button mat-stroked-button>МОЩНОСТЬ</button>
              <button mat-stroked-button>ПОДПИСАТЬСЯ НА ИЗМЕРЕНИЯ</button>
              <button mat-stroked-button>СТАТИСТИКА СООБЩЕНИЙ</button>
              <button mat-stroked-button (click)="goBack()">НАЗАД</button>
            </div>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="1"
      [rowspan]="6">
      <p>Ток, А</p>
    </mat-grid-tile>
    <mat-grid-tile
      [colspan]="8"
      [rowspan]="6">
      <app-current-chart></app-current-chart>
    </mat-grid-tile>
  </mat-grid-list>
</div>
<div class="orientation">
  <img src="assets/orientation.png">
  <p>Разверните устройство для</p>
  <p>дальнейшей работы</p>
</div>
