<div class="head">
  <h2>Центр НТИ МЭИ</h2>
  <small>МОБИЛЬНЫЙ СКАНЕР СЕТИ</small>
</div>
<div class="instruction">
  <h2>ИНСТРУКЦИЯ</h2>
  <p>Сетевой сканер поддерживает протоколы SV и GOOSE. </p>
  <p>Для сканирования трафика  соедините блок управления сканера и коммутатор шины процесса, используя патч-корд.</p>
  <br><br>
  <p>Обращаем внимание: сканер не имеет возможности выдачи пакетов в сеть</p>
</div>
<div class="btn-group">
    <button mat-button (click)="goToNetAnalysis()">ФУНКЦИИ СКАНЕРА</button>
    <button mat-button (click)="goToHome()">НАЗАД</button>
</div>
